/* navbar start */
.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.navbar .company-logo {
  width: fit-content;
  border-radius: 10px;
}
/* navbar end */
/* hero start */
.hero {
  margin-top: 100px;
}
.hero .point {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--maincolor);
}
.hero .hero__content .custom__badge {
  background-color: #dcd9d7;
  color: #1b263b50;
  border-radius: 10px;
  width: fit-content;
}
.hero .hero__content .custom__badge p {
  width: fit-content;
}
.hero .demo__btn {
  border: 0.5px solid var(--maincolor);
}
.hero .demo__btn:focus {
  background-color: #dcd9d7;
}
.hero .demo__btn:hover {
  background-color: #dcd9d7;
}

.hero .stat-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 1px;
  background-color: #dee2e6;
}
@media (max-width: 768px) {
  .stat-item:not(:last-child)::after {
    display: none;
  }
}
.hero .hero__image {
  border-radius: 15px;
}
.hero .hero__image img {
  border-radius: 15px;
}
.hero .hero__image-content .custom__badge {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: -10%;
  left: -10%;
  border-radius: 10px;
  width: 45%;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .hero .hero__image-content{
    justify-content: center;
  }
  .hero .hero__image-content .custom__badge {
    font-size: 14px;
    width: fit-content;
  }
}
@media (max-width: 992px) {

  .hero .hero__image-content .custom__badge {
    font-size: 12px;
    left: 0;
  }
}
@media (max-width: 586px) {
  .hero .hero__image-content .custom__badge{
    padding: 10px;
    font-size: 10px;
  }
}
/* hero end */
/* footer strat */
.footer{
  background-color: var(--maincolor);
}
.footer p{
  color: #FFFFFFD1;
}